<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employers</title>
    <link rel="stylesheet" href="mouse_effect/style.css">
</head>
<body>
<h1>Employers</h1>
<a href="employer/add">Thêm nhà tuyển dụng</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Website</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employer, iStat:${employers}">
        <th scope="row" th:text="${iStat.index} +1"></th>
<!--        ???-->
        <td><a th:href="|/employer/${employer.id}|" th:text="${employer.name}"></a></td>
<!--        ???-->
        <td><a th:href="${employer.website}" th:text="${employer.website}"></a></td>
        <td th:text="${employer.email}"></td>
    </tr>
    </tbody>
</table>
<script src="mouse_effect/event.js"></script>
</body>
</html>